

<p><strong>Cactus Name: </strong> <%= @cactus_entry.content %></p>
<p><strong>Placed Discovered: </strong><%= @cactus_entry.location %></p>
<p><strong>Flower Color: </strong><%= @cactus_entry.color_flowers %></p>
<p><strong>Water Conservation Method: </strong><%= @cactus_entry.water_conservation_method %></p>
<h3><img src="<%= @cactus_entry.image %>" name="image" alt="" height="300" width="300"></h3>

<% if current_user == @cactus_entry.user %>
<a href="/cactus_entries/<%= @cactus_entry.id %>/edit">Edit Entry</a>
<br><br>
<form class="" action="/cactus_entries/<%= @cactus_entry.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete this Entry">
</form>

<% end %>